.login-container{
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    width: 550px;
    box-shadow: 1px 0px 35px 0px rgba(144,202,249,0.75);
    -webkit-box-shadow: 1px 0px 35px 0px rgba(144,202,249,0.75);
    -moz-box-shadow: 1px 0px 35px 0px rgba(144,202,249,0.75);
}

h3{
    text-align: center;
}

.register-link{
    text-align: center;
    margin-top: 30px;
    text-decoration:wavy;
}

.register-link:visited{
    color: white;
}

.input-fields{
    margin-top: 10px;
}