.todo-container{
    padding: 30px;
    border-radius: 10px;
    border: solid rgb(136, 136, 136) 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px 1px 18px 0px rgba(61,121,252,0.75);
    -webkit-box-shadow: -1px 1px 18px 0px rgba(61,121,252,0.75);
    -moz-box-shadow: -1px 1px 18px 0px rgba(61,121,252,0.75); 
}

hr{
    width: 30px;
}

.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}