.todo{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: solid rgb(207, 201, 201) 1px;
    width: 70%;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.alta {
    color: rgb(255, 112, 112);
}

.media {
    color: rgb(168, 168, 73);
}

.baja{
    color: rgb(71, 129, 71);
}